<a routerLink="/form-view"> link to single form view </a>
<hr />

<div [formGroup]="projectService.formGroup">
  <ng-container formArrayName="projects">
    <ng-container
      *ngFor="let project of projectService.projects.controls; let i = index"
    >
      <div [formGroup]="projectService.projectFromGroup(project)">
        <ng-container
          *ngFor="
            let control of projectService.projectFromGroupControls(project)
          "
        >
          <label>
            <span style="width: 50px;display: inline-block;">{{
              control
            }}</span>
            <input [formControlName]="control" />
          </label>
          <br />
        </ng-container>
      </div>
      <button (click)="projectService.removeProject(i)">Delete</button>
      <hr />
    </ng-container>
  </ng-container>
</div>

<button (click)="projectService.addProject()">Add Form</button>
<hr />
