<a routerLink="/form-array"> to form array</a>
<hr />

<label> enter form index: <input [(ngModel)]="index" /> </label>
<ng-container
  *ngIf="projectService.projectFromGroupByIndex(index); let project"
>
  <div [formGroup]="project">
    <ng-container
      *ngFor="let control of projectService.projectFromGroupControls(project)"
    >
      <label>
        <span style="width: 100px;display: inline-block;">{{ control }}</span>
        <ng-container [ngSwitch]="control">
          <input
            *ngSwitchCase="'password'"
            [formControlName]="control"
            type="password"
          />
          <input *ngSwitchDefault [formControlName]="control" />
        </ng-container>
      </label>
      <br />
    </ng-container>
  </div>
  <hr />

  <label>control name:<input [(ngModel)]="name" /> </label>
  <button (click)="projectService.addControl(project, name)">add</button>
</ng-container>
