<div [formGroup]="formService.formGroup">
  <ng-container formArrayName="projects">
    <ng-container
      *ngFor="let project of formService.projects.controls; let i = index"
    >
      <div [formGroup]="formService.projectFromGroup(project)">
        <input formControlName="id" />
        <input formControlName="name" />
      </div>
      <button (click)="formService.removeForm(i)">Delete</button>
      <hr />
    </ng-container>
  </ng-container>

  <button (click)="formService.addForm()">Add Form</button>
</div>
